node_modules
build
*~
biz.tar.gz
index.json
.DS_Store
*.orig
target
.idea
.idea/*
.mvn
**/*.iml
src/main/resources/static
*.log
dev/application.yml
dev/application*.yml
dev/log4j2.xml
dev/akka.conf
fe/index.html
fe/vender/index.html
logs/*
.vscode

